<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i> Christine Schoellhorn</p> 
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">Resume</a>
        <a href="#">Projects</a>
      </p>
      <p class="copywrite">Copywrite © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>Washington, DC</p></li>
        <li><p><i class="fi-mail"></i>christine@
          christineschoellhorn.com</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">Don't be satisfied with stories, how things have gone with others. Unfold your own myth</p>
      <p class="about subheader"></p>
      <ul class="inline-list social">
        <a href="https://twitter.com/cschoellhorn"><i class="fi-social-twitter"></i></a>
        <a href="https://www.linkedin.com/pub/christine-schoellhorn/20/a1/118"><i class="fi-social-linkedin"></i></a>
        <a href="https://github.com/cschoellhorn"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</div>
</footer>
</body>
</html>