<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christine Schoellhorn | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/app.js"></script>
    <script>
      var selectedId = "<%= @selected_file %>";
    </script>
  <body>
    </head>
    <header>
    <div> <h1> test content </h1> </div>
    <div class="parallax-background">
      <div class="row">
        <div class="medium-8 columns">
          <h1><a href="/" id="root-link">Christine Schoeellhorn</h1>
          <h4>The quest for innovation and immaculate reality</h4>
        </div>
      </div>
      <ul class="subnav hide-for-small-only">
        <li><a href="/resume" id="resume-link">Resume</a></li>
        <li><a href="/" id="root-link">Home</a></li>
        <li><a target="/projects" href="http://zurb.com/responsive" id="projects-link">Projects</a></li>
      </ul>
      <div class="intro-text">
        <p><i class="fi-arrow-down"></i></p>
      </div>
    </div>
    </header>