<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christine Schoellhorn | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/app.js"></script>
    <script>
      var selectedId = "<%= @selected_file %>";
    </script>
  </head>
  <body>
<div class="parallax-background">
<header class="header">
  <ul class="header-subnav">
  <li><a href="/" id="root-link">Christine Schoellhorn</a></li>
  <li><a href="/resume" id="resume-link">Resume</a></li>
  </ul>
</header>
<div class="parallax-background-2">
    <!--
    <li><a target="/projects" href="http://zurb.com/responsive" id="projects-link">Projects</a></li>
  -->
        </div>
      </div>  
  </header>