<%= erb :_header %>
<div class="parallax-content">
  <div class="content-paragraph">
  	<div class = "slogan">
  		<h4>The quest for innovation and immaculate reality</h4>
  	</div>
  	<br>
  <p> Christine Schoellhorn is a Senior Technology and Innovation Officer with the National Democratic Institute and works in the development of tools, software, and strategic initiatives that scale and enhance democracy support programing.  </p>

  <p>Christine has a dual background in civic engagement and technology. She worked as a political advisor on state-wide campaigns for U.S. Sentate and as Florida Legislative Aide. She later engaged in international program management and support for SaaS startups Opower and the New Motion.</p>

  <p>Originally born in Iowa City, Iowa to the parents of European immigrants, Christine spent much of her youth traveling Western Europe and exploring cultural differences. When her family moved to Florida in the early 2000's, she became immersed in Hispanic culture, learning Guatemalan, Peruvian, and Cuban culinary specialties and picking up Central American Spanish.</p>

  <p>In her personal time, Christine enjoys the outdoors and adventuring. She is a PADI certified Divemaster, competitive free diver, rock-climbing and trekking enthusiast, and a burgeoning mountaineer. She also actively work to increase her technical proficiency in programming, design, user experience, and data architecture.</p> 
</div>
<%= erb :_footer %>
