<%= erb :_header %>
<div class="parallax-content">
  <div class="content-paragraph">
  <p> Christine Schoellhorn is a Technology and Innovation Program Officer with the National Democratic Institute and works in the development of tools, software, and strategic initiatives that scale and enhance democracy support programing.  </p>

  <p>Christine has a dual background in civic engagement and tech having worked on campaigns and as Legislative Aide and later engaging in program management and support for two awesome SaaS startups.</p>

  <p>Originally born in Iowa City, Iowa to the parents of European immigrants, Christine spent much of her youth traveling Western Europe and exploring cultural differences. When her family moved to Florida in the early 2000's, she became immersed in Hispanic culture, learning Guatemalan, Peruvian, and Cuban culinary specialties and picking up Central American Spanish.</p>

  <p>In her personal time, Christine enjoys the outdoors and adventuring. She is a PADI certified Divemaster, competitive free diver, rock-climbing and trekking enthusiast, and a burgeoning mountaineer. She also actively work to increase her technical proficiency in programming, database management, and the specs of ICT4D innovation.</p>
</div>
<%= erb :_footer %>
