<%= erb :_header %>
<div class="parallax-content">
  <div class="content-paragraph">
		<div class="path-container">
		  <div class="row">
		    <div class="large-12 columns ">
		    </div>
		  </div>
		  <div class="row path-item">
		    <div class="large-7 push-5 columns">
		      <div class="circle circle-left "></div>
		    </div>
		    <div class="large-5 pull-7 columns path-text left">
		      <h3>Senior Technology and Innovation Officer, National Democratic Institute</h3>
		      <p>Product managed the value creation and development process for software supporting democratic initiatives including: Apollo, NDI's election monitoring database; CiviParty and CiviMP, adapted versions of the CiviCRM for contact management and party organization; and the Issues, a mutli-medium platform for disseminating information around elections</p>
		      <a href="https://demcloud.org/">DemTools: The Democracy Toolkit »</a>
		    </div>
		  </div>
		  <div class="row path-item">
		    <div class="large-7 columns">
		      <div class="circle circle-right right"></div>
		    </div>
		    <div class="large-5 columns path-text right">
		      <h3>Localization Producer, Opower</h3>
		      <p>Managed translations (including: software products, marketing materials, technical briefs, and legal documents) for a software-as-a-service company that leverages behavioral science to drive residential energy efficiency</p>
		      <a href="http://opower.com/">Opower »</a>
		    </div>
		  </div>
		  <div class="row get-feedback path-item">
		    <div class="large-7 push-5 columns">
		      <div class="circle circle-left"></div>
		    </div>
		    <div class="large-5 pull-7 columns path-text left">
		      <h3>Product Management Intern, The New Motion</h3>
		      <p>Supported the product developement and placement of electric vehicle fast-charging stations for Tesla vehicles throughout Europe</p>
		      <a href="http://www.thenewmotion.com/en/">The New Motion»</a>
		    </div>
		  </div>
		  <div class="row land-job path-item">
		    <div class="large-7 columns">
		      <div class="circle circle-right right"></div>
		    </div>
		    <div class="large-5 columns path-text right">
		      <h3>Aide to Representative Lori Berman, Florida Legislature</h3>
		      <p>Managed office communications including press releases, legislative reports, and weekly newsletters. Represented legislative office in community and statewide events speaking on behalf of Representative Berman </p>
		      <a href="http://www.myfloridahouse.gov/Sections/Representatives/details.aspx?MemberId=4517">Representative Berman »</a>
		    </div>
		  </div>
		  <span class="line hide-for-small"></span>
		</div>
	</div>
<%= erb :_footer %>
